<footer class="footer">
  <div class="container footer-wrapper">
    <div class="footer-contacts">
      <div class="footer-main">
        <a aria-label="Logo. Go to homepage" href="#">
          <svg class="footer-logo" width="168" height="16">
            <use href="img/icon.svg#icon-logo-desk"></use>
          </svg>
        </a>
        <p class="footer-desc color-white">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="sec-foot-cont">
        <ul class="footer-list">
          <li class="header-third header-third-menu">
            <a class="footer-anchor-link" href="#how-works"> How It Works</a>
          </li>
          <li class="header-third header-third-menu">
            <a class="footer-anchor-link" href="#vegetables"> vegetables</a>
          </li>
          <li class="header-third header-third-menu">
            <a class="footer-anchor-link" href="#reviews"> reviews</a>
          </li>
        </ul>
        <address class="footer-address color-white body-second">
          <a class="ft-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
          <a class="" href="https://maps.app.goo.gl/4uejMJAXwDJcwCBf8">
            1678 S. Pioneer Road Salt <br />
            Lake City UT 84104
          </a>
        </address>
      </div>
    </div>

    <div class="policy-wrapper">
      <div class="policy-links">
        <a class="color-blush" href="#">Privacy Policy</a>
        <span class="color-blush">/</span>
        <a class="color-blush" href="#">Cookie settings</a>
      </div>
      <p class="color-blush">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
