<footer class="footer">
  <div class="container footer-wrapper">
    <div class="footer-contacts">
      <div class="footer-main">
        <svg class="footer-logo" width="168" height="16">
          <use href="../img/icon.svg#icon-logo-desk"></use>
        </svg>
        <p class="footer-desc">
          Whether you're looking for a healthy snack or a thoughtful gift, our
          fruit baskets are the perfect choice.
        </p>
      </div>
      <div class="sec-foot-cont">
        <ul class="footer-list">
          <li class="foot-list-item">
            <a class="footer-anchor-link" href="#how-works"> How It Works</a>
          </li>
          <li class="foot-list-item">
            <a class="footer-anchor-link" href="#vegetables"> vegetables</a>
          </li>
          <li class="foot-list-item">
            <a class="footer-anchor-link" href="#reviews"> reviews</a>
          </li>
        </ul>
        <address class="footer-address">
          <a class="ft-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
          <p>
            1678 S. Pioneer Road Salt <br />
            Lake City UT 84104
          </p>
        </address>
      </div>
    </div>

    <div class="container policy-wrapper">
      <div class="policy-links">
        <p class="policy-text">Privacy Policy</p>
        <span class="footer-span">/</span>
        <p>Cookie settings</p>
      </div>
      <p class="policy-text">©Green Harvest 2023</p>
    </div>
  </div>
</footer>
