<header class="header">
  <div class="header-nav container">
    <a class="logo-header" href="#hero">
      <svg class="icon-logo" viewBox="0 0 346 32">
        <use href="img/icon.svg#icon-logo-desk"></use>
      </svg>
    </a>
    <div class="head-desk-menu">
      <ul class="header-menu-list">
        <li>
          <a class="menu-link" href="#hero"> How It Works</a>
        </li>

        <li>
          <a class="menu-link" href="#vegetables"> Vegetables </a>
        </li>

        <li>
          <a class="menu-link" href="#reviews"> Reviews</a>
        </li>
      </ul>
      <button class="header-shop-btn btn" type="button">Shop now</button>
    </div>

    <button class="header-menu-btn btn" type="button">
      <svg class="icon-logo" viewBox="0 0 32 32">
        <use href="img/icon.svg#icon-outline_menu"></use>
      </svg>
    </button>
  </div>
</header>
