<section class="section section-green hero">
  <div class="hero-cont">
    <div class="container hero-green">
      <h1 class="header-hero hero-title">
        organic vegetables to your diet today!
      </h1>
      <p class="color-white">
        Our expertly curated vegetable baskets are made with the freshest,
        highest quality vegetables available. Fresh Harvest Box has got you
        covered. Fresh, high-quality vegetables in expertly curated vegetable
        baskets delivered to you.
      </p>
    </div>
    <div class="hero-img"></div>
  </div>
</section>
