<div class="modal-overlay js-menu">
  <div class="mobile-menu">
    <button class="mobile-menu-close js-close-menu" type="button">
      <svg class="mobile-menu-close-icon" width="32" height="32">
        <use href="img/icon.svg#icon-close-1x"></use>
      </svg>
    </button>
    <ul class="mobile-menu-list js-link">
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#how-works">How It Works </a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#vegetables">Vegetables</a>
      </li>
      <li class="mobile-menu-item">
        <a class="mobile-menu-link" href="#reviews">Reviews</a>
      </li>
    </ul>
    <button class="mobile-menu-btn" type="button">Shop now</button>
  </div>
</div>
