<section id="order" class="section section-green">
  <div class="order-container container">
    <div class="order-title-contaier">
      <h2 class="order-title header-second">
        Fresh <span class="header-second-blush">Harvest</span> Box has got you
        covered
      </h2>
      <p class="body-first-white">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="form-and-social-container">
      <div class="order-form">
        <p class="header-third header-third-black">
          Ordering <span class="header-third-chianti">from us</span> is quick
          and easy! Fill out
          <span class="header-third-green">the form </span>below and we will
          contact you !
        </p>
        <form class="oder-form-send">
          <ul class="order-form-lists">
            <li class="order-form-item">
              <input
                class="order-form-input"
                type="name"
                name="user-name"
                id="user-name"
                placeholder="Full Name"
                required
              />
            </li>
            <li class="order-form-item">
              <input
                class="order-form-input valid-email"
                type="email"
                name="user-email"
                id="user-email"
                placeholder="Email"
                pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
                required
              />
              <p class="text-invalid">
                Please enter correct email, e.g. example@test.ua
              </p>
            </li>
            <li class="order-form-item">
              <textarea
                class="order-form-textarea"
                name="user-comment"
                id="user-comment"
                placeholder="Comment"
              ></textarea>
            </li>
          </ul>
          <button class="order-form-btn accent-text-white" type="submit">
            SEND
          </button>
        </form>
      </div>
      <div class="order-social">
        <div class="thumb">
          <picture class="order-picture">
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop/order-desctop@1x.jpg 1x,
                img/desktop/order-desctop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/order-tablet@1x.jpg 1x,
                img/tablet/order-tablet@2x.jpg 2x
                img/tablet/order-tablet@1x.jpg 1x,
                img/tablet/order-tablet@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                img/mobile/order-mobile@1x.jpg 1x,
                img/mobile/order-mobile@2x.jpg 2x
                img/mobile/order-mobile@1x.jpg 1x,
                img/mobile/order-mobile@2x.jpg 2x
              "
            />
            <img
              src="img/mobile/order-mobile@1x.jpg"
              src="img/mobile/order-mobile@1x.jpg"
              alt="unrecognizable sportswoman using lemon while making fruit smoothie home"
              width="536"
              height="352"
            />
          </picture>
        </div>
        <div class="order-social-box">
          <p class="social-caption body-second-blush">
            Follow us on our social networks:
          </p>
          <ul class="order-social-list">
            <li class="order-social-list-item">
              <a
                class="accent-text accent-text-white"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
                >instagram</a
              >
            </li>
            <li class="order-social-list-item accent-text accent-text-white">
              &#47;
            </li>
            <li class="order-social-list-item">
              <a
                class="accent-text accent-text-white"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
                >youtube</a
              >
            </li>
            <li class="order-social-list-item accent-text accent-text-white">
              &#47;
            </li>
            <li class="order-social-list-item">
              <a
                class="accent-text accent-text-white"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
                >facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
