<section id="order" class="order-section">
  <div class="order-container container">
    <div class="order-title-contaier">
      <h2 class="order-title">
        Fresh <span class="order-title-accent">Harvest</span> Box has got you
        covered
      </h2>
      <p class="order-description">
        Our boxes are packed with delicious, nutritious vegetables, perfect for
        anyone looking to eat healthier or support local farmers. Order your box
        today and start enjoying the best that nature has to offer!
      </p>
    </div>
    <div class="form-and-social-container">
      <form class="order-form">Тут буде форма</form>
      <div class="order-social">
        <div class="thumb">
          <picture class="order-picture">
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop/oder-desktop.jpg    1x,
                img/desktop/oder-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                img/tablet/oder-tablet.jpg    1x,
                img/tablet/oder-tablet@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px) and (max-width: 767px)"
              srcset="
                img/mobile/oder-mobile.jpeg    1x,
                img/mobile/oder-mobile@2x.jpeg 2x
              "
            />
            <img
              src="img/mobile/oder-mobile.jpeg"
              alt="unrecognizable sportswoman using lemon while making fruit smoothie home"
              width="536"
              height="352"
            />
          </picture>
        </div>
        <div class="order-social-box">
          <p class="social-caption">Follow us on our social networks:</p>
          <ul class="order-social-list">
            <li class="order-social-list-item">
              <a
                class="social-link"
                href="https://www.instagram.com/goitclub/"
                target="_blank"
                rel="noopener noreferrer"
                >instagram</a
              >
            </li>
            <li class="order-social-list-item social-link">&#47;</li>
            <li class="order-social-list-item">
              <a
                class="social-link"
                href="https://www.youtube.com/c/GoIT"
                target="_blank"
                rel="noopener noreferrer"
                >youtube</a
              >
            </li>
            <li class="order-social-list-item social-link">&#47;</li>
            <li class="order-social-list-item">
              <a
                class="social-link"
                href="https://www.facebook.com/goITclub/"
                target="_blank"
                rel="noopener noreferrer"
                >facebook
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
