<section class="section section-chianti" id="vegetables">
  <div class="container">
    <h2 class="header-second veggies-title">
      Organic <span class="header-second-blush veggies-accent">vegetables</span>
    </h2>
    <p class="veggies-section-descr body-first-white">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veggies-list">
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third header-third-chianti">
          Eggplant
        </h3>
        <p class="veggies-item-price">60 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/eggplant-mobile.png    1x,
              img/mobile/eggplant-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/eggplant-tablet.png    1x,
              img/tablet/eggplant-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/eggplant-desktop.png    1x,
              img/desktop/eggplant-desktop@2x.png 2x
            "
          />
          <img
            src="img/mobile/eggplant-mobile.png"
            alt="eggplant"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third header-third-chianti">
          Leek
        </h3>
        <p class="veggies-item-price">50 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/onion-mobile.png    1x,
              img/mobile/onion-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/onion-tablet.png    1x,
              img/tablet/onion-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/onion-desktop.png    1x,
              img/desktop/onion-desktop@2x.png 2x
            "
          />
          <img
            src="img/mobile/onion-mobile.png"
            alt="leek"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third header-third-chianti">
          Mushrooms
        </h3>
        <p class="veggies-item-price">40 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/mushrooms-mobile.png   1x,
              img/mobile/mushroom-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/mushroom-tablet.png    1x,
              img/tablet/mushroom-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/mushroom-desktop.png    1x,
              img/desktop/mushroom-desktop@2x.png 2x
            "
          />
          <img
            src="img/mobile/mushroom-mobile.png"
            alt="Mushrooms"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third header-third-chianti">
          Corn
        </h3>
        <p class="veggies-item-price">60 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/corn-mobile.png    1x,
              img/mobile/corn-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/corn-tablet.png    1x,
              img/tablet/corn-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/corn-desktop.png    1x,
              img/desktop/corn-desktop@2x.png 2x
            "
          />
          <img
            src="img/mobile/corn-mobile.png"
            alt="corn"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third header-third-chianti">
          Sweet potatoes
        </h3>
        <p class="veggies-item-price">50 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/potato-mobile.png    1x,
              img/mobile/potato-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/potato-tablet.png    1x,
              img/tablet/potato-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/potato-desktop.png    1x,
              img/desktop/potato-desktop@2x.png 2x
            "
          />
          <img
            src="img/mobile/potato-mobile.png"
            alt="sweet potato"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third header-third-chianti">
          Carrot
        </h3>
        <p class="veggies-item-price">40 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/carrot-mobile.png    1x,
              img/mobile/carrot-mobile@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/carrot-tablet.png    1x,
              img/tablet/carrot-tablet@2x.png 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/carrot-desktop.png    1x,
              img/desktop/carrot-desktop@2x.png 2x
            "
          />
          <img
            src="img/mobile/carrot-mobile.png"
            alt="Carrot"
            width="280"
            height="240"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
