<section class="section section-chianti" id="vegetables">
  <div class="container">
    <h2 class="header-second veggies-title">
      Organic <span class="veggies-accent color-blush">vegetables</span>
    </h2>
    <p class="veggies-section-descr color-white">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veggies-list">
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third color-cianti">Eggplant</h3>
        <p class="veggies-item-price">60 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/eggplant-mobile.webp    1x,
              img/mobile/eggplant-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/eggplant-tablet.webp    1x,
              img/tablet/eggplant-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/eggplant-desktop.webp    1x,
              img/desktop/eggplant-desktop@2x.webp 2x
            "
          />
          <img
            src="img/mobile/eggplant-mobile.webp"
            alt="eggplant"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third color-cianti">Leek</h3>
        <p class="veggies-item-price">50 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/onion-mobile.webp    1x,
              img/mobile/onion-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/onion-tablet.webp    1x,
              img/tablet/onion-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/onion-desktop.webp    1x,
              img/desktop/onion-desktop@2x.webp 2x
            "
          />
          <img
            src="img/mobile/onion-mobile.webp"
            alt="leek"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third color-cianti">Mushrooms</h3>
        <p class="veggies-item-price">40 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/mushrooms-mobile.webp   1x,
              img/mobile/mushroom-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/mushroom-tablet.webp    1x,
              img/tablet/mushroom-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/mushroom-desktop.webp    1x,
              img/desktop/mushroom-desktop@2x.webp 2x
            "
          />
          <img
            src="img/mobile/mushroom-mobile.webp"
            alt="Mushrooms"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third color-cianti">Corn</h3>
        <p class="veggies-item-price">60 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/corn-mobile.webp    1x,
              img/mobile/corn-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/corn-tablet.webp    1x,
              img/tablet/corn-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/corn-desktop.webp    1x,
              img/desktop/corn-desktop@2x.webp 2x
            "
          />
          <img
            src="img/mobile/corn-mobile.webp"
            alt="corn"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third color-cianti">
          Sweet potatoes
        </h3>
        <p class="veggies-item-price">50 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/potato-mobile.webp    1x,
              img/mobile/potato-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/potato-tablet.webp    1x,
              img/tablet/potato-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/potato-desktop.webp    1x,
              img/desktop/potato-desktop@2x.webp 2x
            "
          />
          <img
            src="img/mobile/potato-mobile.webp"
            alt="sweet potato"
            width="280"
            height="240"
          />
        </picture>
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title header-third color-cianti">Carrot</h3>
        <p class="veggies-item-price">40 USD / kg</p>
        <picture class="veggies-item-pic">
          <source
            media="(max-width: 767px)"
            srcset="
              img/mobile/carrot-mobile.webp    1x,
              img/mobile/carrot-mobile@2x.webp 2x
            "
          />
          <source
            media="(min-width: 768px) and (max-width: 1279px)"
            srcset="
              img/tablet/carrot-tablet.webp    1x,
              img/tablet/carrot-tablet@2x.webp 2x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              img/desktop/carrot-desktop.webp    1x,
              img/desktop/carrot-desktop@2x.webp 2x
            "
          />
          <img
            src="img/mobile/carrot-mobile.webp"
            alt="Carrot"
            width="280"
            height="240"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
