<section class="veggies-section">
  <div class="veggies-container container">
    <h2 class="veggies-title section-title">
      Organic <span class="veggies-accent">vegetables</span>
    </h2>
    <p class="veggies-section-descr">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="veggies-list">
      <li class="veggies-item">
        <h3 class="veggies-item-title">EGGPLANT</h3>
        <p class="veggies-item-price">60 USD / kg</p>
        <img
          class="veggies-item-pic"
          src=""
          alt="eggplant"
          width="280"
          height="240"
        />
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title">LEEK</h3>
        <p class="veggies-item-price">50 USD / kg</p>
        <img
          class="veggies-item-pic"
          src=""
          alt="leek"
          width="280"
          height="240"
        />
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title">MUSHROOMS</h3>
        <p class="veggies-item-price">40 USD / kg</p>
        <img
          class="veggies-item-pic"
          src=""
          alt="mushrooms"
          width="280"
          height="240"
        />
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title">CORN</h3>
        <p class="veggies-item-price">60 USD / kg</p>
        <img
          class="veggies-item-pic"
          src=""
          alt="corn"
          width="280"
          height="240"
        />
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title">SWEET POTATOES</h3>
        <p class="veggies-item-price">50 USD / kg</p>
        <img
          class="veggies-item-pic"
          src=""
          alt="sweet potatoes"
          width="280"
          height="240"
        />
      </li>
      <li class="veggies-item">
        <h3 class="veggies-item-title">CARROT</h3>
        <p class="veggies-item-price">40 USD / kg</p>
        <img
          class="veggies-item-pic"
          src=""
          alt="carrot"
          width="280"
          height="240"
        />
      </li>
    </ul>
  </div>
</section>
