<section id="how-works" class="section work-section">
  <div class="container">
    <h2 class="visually-hidden">How it works</h2>
    <div class="wrapper">
      <div class="work-container">
        <div class="thumb-work">
          <picture class="made-image">
            <source
              media="(max-width: 767px)"
              srcset="
                img/mobile/how-it-works-mobile-mew@1x.jpg 1x,
                img/mobile/how-it-works-mobile-mew@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px) and (max-width: 1279px)"
              srcset="
                img/tablet/how-it-works-tablet.jpg    1x,
                img/tablet/how-it-works-tablet@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 1280px)"
              srcset="
                img/desktop/how-it-works-desktop.jpg,
                img/desktop/how-it-works-desktop@2x.jpg 2x
              "
            />
            <img
              src="img/mobile/how-it-works-mobile-mew@1x.jpg"
              alt="Woman cutting vegetables"
              width="640"
              height="640"
            />
          </picture>
        </div>
      </div>
      <div class="step-container">
        <div class="step-wrapper">
          <h3 class="header-third subtitle">
            To order your
            <span class="color-blush">vegetable</span> basket,
            simply&nbsp;follow these
            <span class="color-blush">easy steps</span>
          </h3>
          <p class="made-section-paragraf body-first color-white">
            Our baskets are assembled with care and delivered straight to your
            doorstep, so you can enjoy the taste of fresh fruit without ever
            leaving your home.
          </p>
          <ol class="made-section-list body-first">
            <li class="made-section-item">
              <p class="item-paragraf color-grey">
                Just choose
                <span class="color-grey-accent">the vegetable</span> you
                want&nbsp;to order by&nbsp;clicking on the checkboxes
                <span class="color-grey-accent">next to it</span>.
              </p>
            </li>
            <li class="made-section-item">
              <p class="item-paragraf color-grey">
                Click on
                <span class="color-grey-accent">the basket</span> and fill
                out&nbsp;the&nbsp;form.
              </p>
            </li>
            <li class="made-section-item">
              <p class="item-paragraf color-grey">
                Sit back and relax! Your
                <span class="color-grey-accent">fresh vegetables</span>
                basket&nbsp;will&nbsp;be delivered.
              </p>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
