:root {
  --font-family: 'Inter Tight', sans-serif;
  --black: #141414;
  --white: #fbfbfb;
  --chianti: #7a3145;
  --blush: #d4bfc4;
  --green: #576f35;
  --grey: #858585;
  --transparent: rgba(20, 20, 20, 0.2);
  --greenlight: #3cbc81;
  --smthwrong: #e74a3b;
  --bold: 700;
  --semibold: 600;
  --medium: 500;

  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  font-weight: var(--medium);
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

:hover,
:focus,
.focus-visible,
:active {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

main {
  flex-grow: 1;
}

.header-hero {
  font-size: 52px;
  font-size: clamp(46px, calc(10.9vw + 11px), 52px);
  font-weight: var(--semibold);
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
}

.header-second {
  font-weight: var(--semibold);
  font-size: 48px;
  font-size: clamp(44px, calc(10.9vw + 11px), 48px);
  line-height: 1.08;
  text-transform: uppercase;
  color: var(--white);
}


.header-third {
  font-weight: var(--semibold);
  font-size: 28px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--white);
}

.color-black {
  color: var(--black);
}

.color-blush {
  color: var(--blush);
}

.color-green {
  color: var(--green);
}

.color-grey {
  color: var(--grey);
}

.color-white {
  color: var(--white);
}

.color-cianti {
  color: var(--chianti);
}

.header-third-menu {
  font-size: 32px;
}

.color-grey-accent {
  font-weight: var(--bold);
  color: var(--black);
}

.accent-text {
  font-weight: var(--semibold);
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  text-align: center;
}

.body-first {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  font-weight: var(--medium);
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 16px;
    line-height: 1.25;
  }

  .header-hero {
    font-size: 76px;
  }

  .header-second {
    font-size: 64px;
    line-height: 1;
  }

  .header-third {
    font-size: 32px;
  }

  .body-first {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (min-width: 1280px) {
  .header-hero {
    font-size: 76px;
  }

  .header-second.discount {
    font-size: 76px;
  }
}