.footer {
  padding: 32px 20px;
  background-color: #7a3145;
}
.footer-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-main {
  margin-bottom: 40px;
}
.footer-logo {
  fill: white;
}
.footer-desc {
  max-width: 330px;
  max-height: 60px;
  margin-top: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #fbfbfb;
  text-align: start;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 32px;
  }
  .footer-desc {
    font-size: 16px;
    line-height: 1.25;
    max-width: 265px;
    margin-top: 24px;
  }
  .footer-logo {
    width: 217px;
    height: 20px;
  }
}
@media only screen and (min-width: 1280px) {
  .footer {
    padding: 52px 100px;
  }
}

.footer-contacts {
  margin-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .footer-contacts {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .sec-foot-cont {
    display: flex;
    flex-direction: row;
    gap: 121px;
  }
}
.footer-list {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .footer-list {
    margin-bottom: 64px;
  }
}
.foot-list-item {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}
.foot-list-item:not(:last-child) {
  margin-bottom: 14px;
}
.footer-address {
  font-style: normal;
  font-size: 14px;
  color: #fbfbfb;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .footer-address {
    font-size: 16px;
    line-height: 1.25;
  }
}
.ft-link {
  display: inline-block;
  margin-bottom: 14px;
}
@media only screen and (min-width: 768px) {
  .ft-link {
    margin-bottom: 24px;
  }
}
.policy-wrapper {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  color: #d4bfc4;
}
@media only screen and (min-width: 768px) {
  .policy-wrapper {
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    line-height: 1.25;
  }
}
.policy-links {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
