.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: #576f35;
  align-items: center;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    padding-top: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .header-nav {
    max-width: 1280px;
     background-color: transparent;
  }
}

.icon-logo {
  width: 168px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .icon-logo {
    width: 216px;
    height: 20px;
  }
}

.header-menu-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .icon-btn {
    width: 40px;
    height: 40px;
  }
}

.head-desk-menu {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .head-desk-menu {
    display: flex;
    gap: 20px;
  }

  .header-menu-btn {
    display: none;
  }
}

.menu-link {
  border: 1px solid #fbfbfb;
  border-radius: 12px;
  padding: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #fbfbfb;
  transition: 300ms ease-in;
  transition-property: color, background-color;
}

.menu-link:hover {
  color: #7a3145;
  background-color: #d4bfc4;
}
.menu-link:active {
  color: #7a3145;
  background-color: #fbfbfb;
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-shop-btn {
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  background-color: #7a3145;
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
  transition: 300ms ease-in;
  transition-property: color, background-color;
}
.header-shop-btn:hover {
  color: #7a3145;
  background-color: #d4bfc4;
}
.header-shop-btn:active {
  color: #7a3145;
  background-color: #fbfbfb;
}
