.header {
  background-color: var(--green);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media only screen and (min-width: 768px) {
  .header-nav {
    padding-top: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }
  .header {
    background-color: transparent;
  }
  .header-nav {
    max-width: 1280px;
  }
}

.icon-logo {
  width: 168px;
  height: 16px;
}

@media only screen and (min-width: 768px) {
  .icon-logo {
    width: 216px;
    height: 20px;
  }
}

.header-menu-btn {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .icon-btn {
    width: 40px;
    height: 40px;
  }
}

.head-desk-menu {
  display: none;
}

@media only screen and (min-width: 1280px) {
  .head-desk-menu {
    display: flex;
    gap: 20px;
  }

  .header-menu-btn {
    display: none;
  }
}

.menu-link {
  border: 1px solid var(--white);
  border-radius: 12px;
  padding: 12px;
  transition: 300ms ease-in;
  transition-property: color, background-color;
}

.menu-link:hover,
.menu-link:focus {
  color: var(--chianti);
  background-color: var(--blush);
}
.menu-link:active {
  color: var(--chianti);
  background-color: var(--white);
}

.header-menu-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header-shop-btn {
  border: none;
  border-radius: 30px;
  padding: 16px 32px;
  transition: 300ms ease-in;
  background-color: var(--chianti);
  transition-property: color, background-color;
}

.header-shop-btn:hover,
.header-shop-btn:focus {
  color: var(--chianti);
  background-color: var(--blush);
}
.header-shop-btn:active {
  color: var(--chianti);
  background-color: var(--white);
}
