.hero.section {
  padding-bottom: 0;
  padding-top: 48px;
  justify-content: center;
}

.hero-green {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 40px;
}

.hero-title {
  max-width: 335px;
}

.hero-img {
  background-image: linear-gradient(rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)),
    url(/img/mobile/hero-mobile.jpeg);
  height: 372px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-img {
    background-image: linear-gradient(var(--transparent), var(--transparent)),
      url(/img/mobile/hero-mobile@2x.jpeg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-green {
    gap: 24px;
    padding-bottom: 52px;
  }

  .hero-title {
    font-size: 76px;
    min-width: 704px;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    min-width: 603px;
  }

  .hero-img {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url(/img/tablet/hero-tablet@2x.jpg);
    width: 768px;
    height: 536px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution:192dpi),
  (min-resolution: 2dppx) {
    .hero-img {
      background-image: linear-gradient(rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)),
        url(/img/tablet/hero-tablet@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .hero.section {
    padding-top: 0;
    padding-bottom: 0;
  }

  .hero-cont {
    display: flex;
    flex-direction: row;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }

  .hero-green {
    display: flex;
    flex-direction: column;
    gap: 128px;
    padding: 232px 38px 52px 100px;
    max-width: 640px;
    margin-bottom: 0;
  }

  .hero-title {
    min-width: 502px;
  }

  .hero-text {
    min-width: 472px;
  }

  .hero-img {
    background-image: linear-gradient(rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)),
      url(/img/desktop/hero-desktop.jpg);
    max-width: 640px;
    height: 796px;
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution:192dpi),
  (min-resolution: 2dppx) {
    .hero-img {
      background-image: linear-gradient(rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)),
        url(/img/desktop/hero-desktop@2x.jpg);
    }
  }
}