/* @import url('./form.css'); */
.order-title-contaier {
  margin-bottom: 40px;
}

.order-title {
  margin-bottom: 20px;
}

.form-and-social-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 20px;
  border-radius: 30px;
  background: var(--white);
}

.order-form-lists {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 16px;
}

.order-form-input {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 30px;
  padding-left: 16px;
  width: 100%;
  height: 48px;
}

.order-form-input::placeholder,
.order-form-textarea::placeholder {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-align: start;
  justify-content: center;
  color: inherit;
}

.valid-name:focus,
.valid-email:focus,
.order-form-textarea:focus {
  border-color: var(--chianti);
}

.valid-name:not(:placeholder-shown):invalid,
.valid-email:not(:placeholder-shown):invalid {
  border-color: var(--smthwrong);
}

.order-form-textarea:not(:placeholder-shown):valid,
.valid-name:not(:placeholder-shown):valid,
.valid-email:not(:placeholder-shown):valid {
  border-color: var(--greenlight);
}

.text-valid,
.text-invalid {
  font-size: 12px;
  padding-left: 20px;
  margin-top: 4px;
  display: none;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

.valid-name:not(:placeholder-shown):invalid~.text-invalid,
.valid-email:not(:placeholder-shown):invalid~.text-invalid {
  display: block;
}

.order-form-textarea {
  display: flex;
  border: 1px solid var(--grey);
  border-radius: 15px;
  padding: 16px;
  width: 100%;
  height: 92px;
  resize: none;
}

.order-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  width: 100%;
  height: 52px;
  background: var(--chianti);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-btn:hover,
.order-form-btn:focus {
  color: var(--chianti);
  background-color: var(--blush);
}

.order-form-btn:active {
  color: var(--chianti);
  background-color: var(--white);
}

.order-social {
  border-radius: 30px;
  padding: 40px 20px;
  width: 100%;
  background-color: var(--chianti);
}

.thumb {
  overflow: hidden;
  max-width: 295px;
  height: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  background: var(--transparent);
}

.social-caption {
  margin-bottom: 16px;
  font-weight: var(--bold);
}

.order-social-list {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.order-social-list-item {
  height: 20px;
}

.order-social-list-item a {
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-social-list-item a:hover,
.order-social-list-item a:focus {
  color: var(--blush);
}

.order-social-list-item a:focus-visible {
  color: var(--blush);
  outline: none;
}

.order-social-list-item a:active {
  color: var(--smthwrong);
}

@media screen and (min-width: 768px) {
  .order-container.container {
    padding: 0;
  }

  .order-title-contaier {
    padding: 0 96px 0 32px;
    margin-bottom: 52px;
  }

  .order-title {
    margin-bottom: 24px;
  }

  .form-and-social-container {
    padding: 0 64px;
    gap: 32px;
  }

  .order-form {
    gap: 52px;
    padding: 72px 100px;
    width: 100%;
  }

  .order-form-lists {
    margin-bottom: 24px;
  }

  .order-form-input {
    height: 52px;
  }

  .order-form-textarea {
    height: 96px;
  }

  .order-social {
    padding: 52px;
  }

  .thumb {
    max-width: 100%;
    width: 536px;
    height: 316px;
    margin-bottom: 52px;
  }

  .order-picture img {
    width: 536px;
    height: 316px;
  }

  .order-social-list {
    gap: 12px;
  }
}

@media only screen and (min-width: 1280px) {
  .order-title-contaier {
    padding: 0 100px;
    max-width: 751px;
    box-sizing: content-box;
  }

  .form-and-social-container {
    flex-direction: row;
    padding: 0 100px;
    margin: 0 auto;
  }

  .order-form {
    height: 592px;
    width: calc((100% - 32px) / 2);
    padding: 52px 48px;
  }

  .order-social {
    padding: 52px 48px;
    width: calc((100% - 32px) / 2);
  }

  .thumb {
    width: 428px;
    height: 352px;
    margin-bottom: 80px;
  }

  .order-picture img {
    width: 428px;
    height: 352px;
  }
}