/* секція Reviews */
/* #region для мобільного */
.reviews {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reviews-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.reviews-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 1px solid var(--blush);
  border-radius: 24px;
  padding: 20px 16px;
}

.reviews-cards-text {
  display: flex;
  text-align: center;
  gap: 8px;
  flex-direction: column;
}

/* код вимкнення 2 та 3 елемента */
.reviews-items:nth-of-type(2),
.reviews-items:nth-of-type(3) {
  display: none;
}

/* #endregion */
/* #region для планшета */
@media only screen and (min-width: 768px) {
  .reviews {
    gap: 52px;
    padding: 100px 32px;
  }
  .reviews-title {
    gap: 24px;
    max-width: 553px;
  }

  .reviews-items {
    width: calc((100% - 24px) / 2);
    padding: 20px;
  }

  /* код вимкнення тільки 3 елемента */
  .reviews-items:nth-of-type(3) {
    display: none;
  }
  .reviews-items:nth-of-type(2) {
    display: inherit;
  }
}
/* #endregion */
/* #region для десктопа */
@media only screen and (min-width: 1280px) {
  .reviews {
    padding: 100px;
  }

  .reviews-items {
    width: calc((100% - 48px) / 3);
  }

  /* код повертає елементам видимість */
  .reviews-items:nth-of-type(2),
  .reviews-items:nth-of-type(3) {
    display: inherit;
  }
}
/* #endregion */
/* кінець секції reviews */
