.reviews {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reviews-title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 335px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.reviews-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border: 1px solid var(--blush);
  border-radius: 24px;
  padding: 20px 16px;
  scroll-snap-align: start;
  flex: 0 0 100%;
}

.reviews-cards-text {
  display: flex;
  text-align: center;
  gap: 8px;
  flex-direction: column;
}

.scroller-dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}

.scroller-dots .dot {
  width: 12px;
  height: 12px;
  background-color: var(--blush);
  border-radius: 50%;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.scroller-dots .dot.active {
  background-color: var(--chianti);
}

@media only screen and (min-width: 768px) {
  .reviews {
    gap: 52px;
    padding: 0 32px;
  }

  .reviews-title {
    gap: 24px;
    max-width: 553px;
  }

  .reviews-items {
    width: calc((100% - 24px) / 2);
    padding: 20px;
    flex: 0 0 calc((100% - 24px) / 2);
  }

  .reviews-text {
    text-align: center;
    color: var(--grey);
  }
}

@media only screen and (min-width: 1280px) {
  .reviews {
    padding: 0 100px;
  }

  .reviews-items {
    width: calc((100% - 48px) / 3);
    flex: 0 0 calc((100% - 48px) / 3);
  }
}
