/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./works.css');
@import url('./advertisement.css');
@import url('./vegetables.css');
@import url('./reviews.css');
@import url('./order.css');

/* Footer style */
@import url('./footer.css');
@import url('./mobmenu.css');

@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');