/* 
@media only screen and (min-width: 768px)

@media only screen and (min-width: 1280px)
 */

.veggies-section {
    background-color: #7a3145;
    padding-top: 80px;
    padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
    .veggies-section {
        padding: 100px 0;
    }
}

.veggies-container {}

.veggies-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.08;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
    .veggies-title {
            font-size: 64px;
            line-height: 1;
            color: #fbfbfb;
            margin-bottom: 24px;
            max-width: 626px;
        }
}

.veggies-accent {
    color: #d4bfc4;
}

.veggies-section-descr {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #fbfbfb;
    margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
    .veggies-section-descr {
        font-size: 16px;
        line-height: 1.25;
        margin-bottom: 52px;
        max-width: 626px;
    }
}

@media only screen and (min-width: 768px) {
    .veggies-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 28px;
    }
}

.veggies-item {
    background-color: #fbfbfb;
    border-radius: 40px;
    padding: 32px 24px;
}

@media only screen and (min-width: 768px) {
    .veggies-item {
        padding: 32px 30px;
        width: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1280px) {
    .veggies-item {
        width: calc((100% - 2 * 24px) / 3);
        }
}
.veggies-item:not(:last-child) {
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .veggies-item:not(:last-child) {
            margin-bottom: 0;
        }
}

.veggies-item-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7a3145;
    margin-bottom: 12px;
}
@media only screen and (min-width: 768px) {
    .veggies-item-title {
        font-size: 32px;
    }
}

.veggies-item-price {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #141414;
}
@media only screen and (min-width: 768px) {
    .veggies-item-price {
        font-size: 16px;
        line-height: 1.25;
    }
}
.veggies-item-pic {}