.veggies-title {
  margin-bottom: 20px;
}

.veggies-section-descr {
  margin-bottom: 40px;
}

.veggies-item {
  background-color: var(--white);
  border-radius: 40px;
  padding: 32px 24px;
}

.veggies-item:not(:last-child) {
  margin-bottom: 20px;
}

.veggies-item-title {
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  .veggies-title {
    margin-bottom: 24px;
    max-width: 626px;
  }

  .veggies-section-descr {
    margin-bottom: 52px;
    max-width: 626px;
  }

  .veggies-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 28px;
  }

  .veggies-item {
    padding: 32px 30px;
    width: calc((100% - 24px) / 2);
  }

  .veggies-item:not(:last-child) {
    margin-bottom: 0;
  }

  .veggies-item-title {
    font-size: 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .veggies-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
