/* #region Made  */
.section.how-work {
  padding: 0;
}

.how-work {
  font-size: 0;
  vertical-align: top;
}

.work-wrapper {
  width: 100%;
  display: block;
}

.section-chianti.work-wrapper {
  padding: 40px 20px;
}

.thumb-work {
  display: block;
  overflow: hidden;
  max-width: 335px;
  height: auto;
  border-radius: 30px;
  margin: 0 auto;
  max-width: 335px;
}

.wraper-work {
  display: block;
  overflow: hidden;
  max-width: 335px;
  height: auto;
  margin: 0 auto;
  max-width: 335px;
}

.section-green.work-wrapper {
  padding: 80px 20px;
}

.made-image {
  max-width: 100%;
  height: auto;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .made-section-item {
    height: calc((100% - 40px) / 3);
  }
}

.made-section-item::before {
  counter-increment: ol-numbers;
  content: counter(ol-numbers);
  position: absolute;
  left: 24px;
  width: 42px;
  height: 42px;
  text-align: center;
  justify-content: center;
  background-color: var(--chianti);
  color: var(--white);
  border-radius: 50%;
  border: 5px solid var(--blush);

  font-weight: var(--semibold);
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.subtitle {
  max-width: 335px;
  margin-bottom: 20px;
}

.made-section-paragraf {
  margin-bottom: 40px;
  max-width: 335px;
}

.made-section-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
  counter-reset: ol-numbers;
  padding: 0;
  height: 284px;
}

.made-section-item {
  position: relative;
  padding: 0;
  background-color: var(--white);
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  flex: 1;
}

.item-paragraf {
  padding: 12px 27px 12px 76px;
}

@media only screen and (min-width: 768px) {
  .thumb-work {
    max-width: 640px;
    /* Перевизначення*/
    width: 640px;
    /* Щоб не розтягувалося*/
  }

  .wraper-work {
    max-width: 440px;
    /* Перевизначення*/
    width: 440px;
  }

  .section-chianti.work-wrapper {
    padding: 100px 64px;
  }

  .section-green.work-wrapper {
    padding: 100px 164px;
  }

  .item-paragraf {
    padding: 18px 15px 18px 86px;
  }

  .subtitle {
    margin-bottom: 24px;
    max-width: 440px;
  }

  .made-section-paragraf {
    max-width: 440px;
    margin-bottom: 52px;
  }

  .made-section-list {
    max-width: 440px;
    gap: 24px;
    height: 100%;
  }

  .made-section-item {
    padding: 0;
  }

  .item-paragraf {
    padding: 18px 17px 18px 76px;
  }

  .made-section-item:nth-child(2) .item-paragraf {
    padding: 28px 17px 28px 76px;
  }
}

@media only screen and (min-width: 1280px) {
  .work-wrapper {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }

  .thumb-work {
    max-width: 440px;
    /* Перевизначення*/
    width: 440px;
    /* Щоб не розтягувалося*/
    margin: 0 0 0 auto;
    text-align: right;
  }

  .wraper-work {
    max-width: 440px;
    /* Перевизначення*/
    width: 440px;
    margin: 0 auto 0 0;
  }

  .section-chianti.work-wrapper {
    padding: 100px 64px;
  }

  .section-green.work-wrapper {
    padding: 100px 100px;
  }

  .made-section-paragraf {
    margin-bottom: 104px;
  }
}

/* #endregion */